
name: CI - Build & Push Docker

on:
  push:
    branches: [ "main" ]   # trigger when you push to main
  workflow_dispatch:        # allow manual trigger from Actions tab

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.username }}   # e.g., srinudocker2002
          password: ${{ secrets.token }}      # Docker Hub access token

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          platforms: linux/amd64                       # add linux/arm64 if you need multi-arch
          tags: |
            ${{ secrets.username }}/soapmini:latest
            ${{ secrets.token }}/soapmini:prod
